# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/.gradle-user/

# other
eclipse
run
runs
run-data

repo
/tem/jchess.json
/tem/jchess.png
/tem/jchess_pieces.json
/tem/jchess_pieces.png
/tem/
